li {
            margin: 7px;
            color: #9A9DA0;
        }

        li:hover {
            color: white;
        }
        li:nth-child(1) {
            color: white;
        }
        #container-top {
            height: 60px;
            position: fixed;
            top: 0;
            z-index: 900;
        }
        #info{
            max-width: 1140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .slide {
            height: 512px;
            background-color: lightgrey;
        }

        .intro {
            height: 472px;
            margin-top: 30px;
        }

        .info-picture {
            height: 445px;
            margin-top: 30px;
        }

        .HinhTron {
            height: 140px;
            width: 140px;
            background-color: lightgrey;
            border-radius: 50%;
        }

        .Picture {
            height: 400px;
            width: 400px;
            background-color: lightgrey;
            display: flex;
            justify-content: center;
            align-items: center;
            color: grey;
        }