a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #CCCECF;
    text-decoration: none;
}

.navbar-top {
    position: fixed;
    top: 0;
    z-index: 990;
}

.row_first_col3 {
    border-right: 1px lightgrey solid;
    background-color: #F8F9FA;
    color: #AFAFAF;
    position: fixed;
    top: 0;
}

.row_first_col9 {
    margin-top: 20px;
}

li {
    margin-top: 20px;
    font-size: 15px;
}

li:hover {
    color: black;
}

li:nth-child(1) {
    color: blue;
}

#myChart {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px !important;
    width:100% !important;
}